*{box-sizing: border-box; margin: 0; padding: 0;}
a:focus, a:active{outline: none}
a, a:visited{text-decoration: none}
a:hover{text-decoration: none}
button{cursor: pointer}
button{padding: 0; border:0;}
ul li {list-style: none}

